* {
    font-family: 'Roboto', sans-serif;
}

header {
    margin-top: 50px;
    position: relative;
}

nav {
    height: 50px;
    background-color: #212121;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px solid black;
    padding-right: 40px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 87px;
    background-color: rgba(0,0,0,.6);
    z-index: index 1;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 19px;
}

.subheader .subheader_official {
    margin-top: 6px;
    font-weight: 100;
    font-size: 13px;
    color: #ffffff;
    opacity: 0.5;
}

.subheader .subheader_call {
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    text-align: right;
}

.subheader .subheader_number {
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    text-decoration: none;
    color:#ffffff;
    line-height: 12px;
    text-transform: uppercase;
}

.subheader .subheader_btn {
    margin-top: 21px;
    height: 46px;
    width: 172px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.12);
    background-image: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
    text-shadow: 1px 1px rgba(0, 0, 0, .12);
}

.promo {
    min-height: 799px;
    background: url(../img/uber_bg.jpg) center center/cover no-repeat;
    padding: 156px 0 186px 0;
}

.promo .promo_header {
    margin: 0;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    color:#ffffff;
    line-height: 60px;
}

.promo .promo_subheader {
    margin: 0;
    margin-top: 16px;
    line-height: 36px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.promo .promo_descr {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
    line-height: 24px;
}

.promo .promo_btn {
    display: block;
    margin: 115px auto 0 auto;
    width: 259px;
    height: 63px;
    border-radius: 4px;
    border: none;
    background-image: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
    box-shadow:inset 0 -4px 0 rgba(0, 0, 0, .12);
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0,0,0,.12);
}

.reasons {
    min-height: 849px;
    background-color: #ffffff;
    padding: 20px 0 64px 0px;
}

.label {
    margin: 0 auto;
    display: block;
    background-color: #000000;
    height: 27px;
    width: 115px;
    font-weight: 400;
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    line-height: 28px;
}

.title {
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin-top: 33px;
}

.reasons .reasons_all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.reasons .reasons_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    background-color: #1EACC7;
    border-radius: 100%;
}

.reasons .reasons_text {
    margin-left: 25px;
    max-width: 371px;
}

.reasons .reasons_subheader {
    font-weight: 400;
    font-size: 17px;
    color: #1EACC7;
    line-height: 21px;
}

.reasons .reasons_descr {
    font-weight: 300;
    font-size: 15px;
    color: #202020;
    line-height: 21px;
}
